<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is services page</h1>
    <hr />
    <!-- using fragment -->
    <div class="host-tag" th:insert="~{base :: parent(~{::.third-content})}">
      <section id="main-content">
        <p>This is dynamic first content for Base Page</p>
        <button>Click on dynamic services</button>
      </section>
      <section id="second-content">
        <p>This is dynamic second content for Base Page</p>
        <button>Click on dynamic services</button>
      </section>
      <section class="third-content">
        <p>This is dynamic third  content for Base Page</p>
        <button>Click on dynamic services</button>
      </section>
    </div>
  </body>
</html>
