<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
  <head>
    <title id="title">Services Page</title>
    <section id="content">
      <h1>Welcome to Services Page</h1>
      <h2>Services offered By SCM</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut provident
        officia sit repellat alias necessitatibus officiis, illo perspiciatis
        excepturi aliquid eaque dolorum asperiores, ratione nihil in voluptatum
        aliquam autem soluta, aperiam hic repellendus! Ratione suscipit
        praesentium tempora ipsam minima veritatis!
      </p>
    </section>
  </head>
  <body></body>
</html>
